<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UNO Counter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
        .flex-grow {
            flex: 1 0 auto;
        }
        @media screen and (min-width: 992px) {
            .card.init {
                width: 30rem;
            }
        }
        @media screen and (max-width: 992px) {
            .card.init {
                width: 100%;
            }
        }
        .swatch-blue {
            color: #fff;
            background-color: #007bff;
        }

        .swatch-indigo {
            color: #fff;
            background-color: #6610f2;
        }

        .swatch-purple {
            color: #fff;
            background-color: #6f42c1;
        }

        .swatch-pink {
            color: #fff;
            background-color: #e83e8c;
        }

        .swatch-red {
            color: #fff;
            background-color: #dc3545;
        }

        .swatch-orange {
            color: #212529;
            background-color: #fd7e14;
        }

        .swatch-yellow {
            color: #212529;
            background-color: #ffc107;
        }

        .swatch-green {
            color: #fff;
            background-color: #28a745;
        }

        .swatch-teal {
            color: #fff;
            background-color: #20c997;
        }

        .swatch-cyan {
            color: #fff;
            background-color: #17a2b8;
        }
        .add .btn.disabled, .btn:disabled {
            opacity: 0.40;
        }
        .background {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #000;
        }
        .background .inner {
            background-image: url(UNO_Logo.svg);
            background-size: 20%;
            opacity: 0.3;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="background">
        <div class="inner"></div>
    </div>
    <div id="vue" class="h-100">
        <div class="container-fluid h-100 d-flex align-items-center justify-content-center flex-column">
            <router-view></router-view>
        </div>
    </div>
</body>
<script type="text/x-template" id="initTpl">
    <div class="card init">
        <div class="card-body">
            <h5 class="card-title">Uno Score Counter</h5>
            <h6 class="card-subtitle">Fill the fields to start the game</h6>
            <div class="mt-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="needPointsToWinAddon">Points to win</span>
                    </div>
                    <input v-model="needPointsToWin" type="number" step=50 class="form-control" aria-label="needPointsToWin" aria-describedby="needPointsToWinAddon">
                </div>
                <div class="input-group" v-if="players.length < 10">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="playerNameAddon">Player Name</span>
                    </div>
                    <input v-model="playerName" type="text" class="form-control" aria-label="playerName" aria-describedby="playerNameAddon" @keyup.enter="addPlayer(playerName)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @click="addPlayer(playerName)">Add</button>
                    </div>
                </div>
                <div v-else>
                    You have reach the maximum number of players
                </div>
            </div>
            <div v-if="players.length > 0" class="mt-3">
                <h6>Registered players:</h6>
                <div class="d-flex align-content-start flex-wrap">
                    <h5 v-for="player in players" class="mr-1"><span :class="getPlayerBadgeClass(player.id)">{{player.name}}</span></h5>
                </div>
            </div>
            <router-link class="btn btn-primary w-100 mt-3" to="/status" replace v-if="check">Start the game</router-link>
        </div>
    </div>
</script>
<script type="text/x-template" id="statusTpl">
    <div class="card status">
        <div class="card-body">
            <h5 class="card-title">Uno Score Counter</h5>
            <h6 class="card-subtitle">
                <span v-if="isGameOver">Congrats! We have a winner! You can rematch or start a new game.</span>
                <span v-else>Players need to reach {{needToWin}} points to win. Click the "Plus" button to add points to player score.</span>
            </h6>
            <div class="mt-3">
                <table class="table text-center">
                    <tr>
                        <th>Player Name</th>
                        <th>Score</th>
                        <th>Up to win</th>
                        <th v-if="!isGameOver">Add</th>
                    </tr>
                    <tr v-for="player in players" :class="winnerClass(player.id)">
                        <td><h5><span :class="getPlayerBadgeClass(player.id)">{{player.name}}</span></h5></td>
                        <td>{{score[player.id].score}}</td>
                        <td>{{upToWin(player.id)}}</td>
                        <td v-if="!isGameOver">
                            <router-link :to="{ path: '/add/'+player.id }" class="btn btn-light">
                                <i class="fas fa-plus"></i>
                            </router-link>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary w-100" @click="rematch(isGameOver)">Rematch</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary w-100" @click="newGame()">New game</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="rematchModal" tabindex="-1" role="dialog" aria-labelledby="rematchModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="rematchModalTitle">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        It will erase score for all players. Continue?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" @click="rematch(true)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="newGameTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="newGameTitle">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        It will erase all the data. Continue?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" @click="newGame(true)">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="addTpl">
    <div class="card add">
        <div class="card-body">
            <h5 class="card-title">Uno Score Counter</h5>
            <h6 class="card-subtitle">Click buttons that match cards value to increase the score.</h6>
            <div class="row mt-3">
                <div class="col text-center">
                    <h3><span :class="getPlayerBadgeClass()">{{playerName}}</span></h5>
                </div>
            </div>    
            <div class="row">
                <div class="col text-center">
                    <h3>{{summ}} ({{pointsToWin}} up to win)</h3>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(1)">+1</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(2)">+2</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(3)">+3</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(4)">+4</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(5)">+5</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(6)">+6</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(7)">+7</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(8)">+8</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-lg w-100" @click="stack.push(9)">+9</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-outline-dark btn-lg w-100" @click="stack.push(20)">+20</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark btn-lg w-100" @click="stack.push(50)">+50</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-secondary w-100" @click="undo()" :disabled="summ == 0">Undo</button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary w-100" @click="stack = []" :disabled="summ == 0">Reset all</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-secondary w-100" @click="onCancel()">Cancel</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary w-100" @click="onSubmit()" :disabled="summ == 0">Add</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    Vue.use(Vuex);
    const playerColors = [
        'swatch-blue',
        'swatch-pink',
        'swatch-yellow',
        'swatch-indigo',
        'swatch-red',
        'swatch-green',
        'swatch-cyan',
        'swatch-purple',
        'swatch-orange',
        'swatch-teal'
    ];
    const defaultPointsToWin = 200;
    const store = new Vuex.Store({
        state: {
            players: [],
            needPointsToWin: defaultPointsToWin
        },
        mutations: {
            initialiseStore(state) {
                if(localStorage.getItem('store')) {
                    this.replaceState(
                        Object.assign(state, JSON.parse(localStorage.getItem('store')))
                    );
                }
            },
            addPointsTo(state, payload) {
                let playerId = payload.playerId;
                let points = payload.points;
                for (i in state.players) {
                    if (state.players[i].id == playerId) {
                        state.players[i].rounds.push(points)
                    } else {
                        state.players[i].rounds.push(0)
                    }
                }
            },
            addPlayer(state, payload) {
                let name = payload.name;
                let id = state.players.push({
                    name, rounds: []
                }) - 1;
                state.players[id].id = id;
            },
            setPointsToWin(state, payload) {
                state.needPointsToWin = payload;
            },
            rematch(state) {
                for (i in state.players) {
                    
                    state.players[i].rounds = [];
                } 
            },
            newGame(state) {
                state.players = [];
                needPointsToWin = defaultPointsToWin;
            }
        },
        getters: {
            isGameOver(state, getters) {
                let score = getters.score;
                let players = state.players;
                for (i in players) {
                    if (score.find(el => { return el.playerId == players[i].id; }).score >= state.needPointsToWin) {
                        return i;
                    }
                }
            },
            score(state) {
                let result = [];
                let players = state.players;
                for (i in players) {
                    let player = players[i];
                    let score = 0;
                    for (j in player.rounds) {
                        score += player.rounds[j];
                    }
                    result.push({
                        playerId: player.id,
                        score
                    })
                }
                return result;
            }
        }
    });

    store.subscribe((mutation, state) => {
        localStorage.setItem('store', JSON.stringify(state));
    });

    const router = new VueRouter({
        routes: [
            {
                path: '/',
                component: {
                    store,
                    mounted() {
                        if (this.$store.state.players.length > 0) {
                            router.replace('/status');
                        } else {
                            router.replace('/init');
                        }
                    }
                }
            },
            { 
                path: '/init',
                name: 'init',
                component: {
                    store,
                    template: '#initTpl',
                    props: ['needPointsToWin', 'playerName'],
                    computed: {
                        needPointsToWin: {
                            get() {
                                return this.$store.state.needPointsToWin;
                            },
                            set(val) {
                                this.$store.commit('setPointsToWin', +val)
                            }
                        },
                        players() {
                            return this.$store.state.players;
                        },
                        check() {
                            return this.needPointsToWin > 0 && this.players.length > 1;
                        }
                    },
                    methods: {
                        addPlayer(name) {
                            if (name) {
                                this.$store.commit('addPlayer', { name });
                                this.playerName = '';
                            }
                        },
                        getPlayerBadgeClass(playerId) {
                            return 'badge ' + playerColors[playerId];
                        }
                    },
                    beforeRouteLeave(to, from, next) {
                        next(this.check);
                    }
                }
            }, { 
                path: '/status',
                name: 'status',
                component: {
                    store,
                    template: '#statusTpl',
                    mounted() {
                        if (this.$store.state.players.length == 0) {
                            router.replace('/init');
                        } 
                    },
                    methods: {
                        winnerClass(playerId) {
                            return this.isGameOver == playerId ? 'table-success' : '';
                        },
                        getPlayerBadgeClass(playerId) {
                            return 'badge ' + playerColors[playerId];
                        },
                        upToWin(playerId) {
                            return this.$store.state.needPointsToWin - this.$store.getters.score[playerId].score;
                        },
                        rematch(confirmed) {
                            if (!confirmed) {
                                $('#rematchModal').modal();
                                return;
                            } else {
                                $('#rematchModal').modal('hide');
                                this.$store.commit('rematch');
                            }
                        },
                        newGame(confirmed) {
                            if (!confirmed) {
                                $('#newGameModal').modal();
                                return;
                            } else {
                                $('#newGameModal').modal('hide');
                                this.$store.commit('newGame');
                                this.$router.replace('/init');
                            }
                        }
                    },
                    computed: {
                        players() {
                            return this.$store.state.players;
                        },
                        score() {
                            return this.$store.getters.score;
                        },
                        isGameOver() {
                            return this.$store.getters.isGameOver;
                        },
                        needToWin() {
                            return this.$store.state.needPointsToWin;
                        }
                    }
                }
            }, {
                path: '/add',
                redirect: '/init'
            }, {
                path: '/add/:id',
                name: 'add',
                props: true,
                component: {
                    data() {
                        return {
                            stack: []
                        };
                    },
                    props: ['id'],
                    store,
                    mounted() {
                        if (this.$store.state.players.length == 0) {
                            router.replace('/init');
                        } 
                    },
                    computed: {
                        playerName() {
                            return this.$store.state.players[this.id].name;
                        },
                        pointsToWin() {
                            return this.$store.state.needPointsToWin - this.$store.getters.score[this.id].score;
                        },
                        summ() {
                            let result = 0;
                            for (i in this.stack) {
                                result += this.stack[i];
                            }
                            return result;
                        }
                    },
                    methods: {
                        onCancel() {
                            this.$router.push('/status');
                        },
                        onSubmit() {
                            this.$store.commit('addPointsTo', {
                                playerId: this.id,
                                points: this.summ
                            });
                            this.$router.push('/status');
                        },
                        undo() {
                            this.stack.pop();
                        },
                        getPlayerBadgeClass() {
                            return 'badge ' + playerColors[this.id];
                        }
                    },
                    template: '#addTpl'
                }
            }
        ]
    });

    let vue = new Vue({
        router,
        store,
        el: '#vue',
        data: {},
        computed: {},
        beforeCreate() {
            this.$store.commit('initialiseStore');
        }
    });
</script>
</html>